<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{{title}}</title>
      <script  src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
      <link  href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css"  rel="stylesheet"   />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
